*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 70%;
  margin: auto;
}

h2{
  font-size: 30px;
}

/*clearfix*/
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.left, .mid, .right, .image, .write, .professional, .standard, .advanced, .descrizione, .contatto, .partner-img, .partner-txt, .row-left, .row-mid, .row-right, .left-box, .mid-box, .right-box, .txt, .prova, .dropbox, .prodotti, .azienda, .supporto, .community{
  float: left;
}

/*botton*/
.btn{
  padding: 5px 10px;
  color: white;
  background-color: #0061ff;
}

.btn:hover{
  background-color: #f5f5f5;
  color: black;
}

.bianco{
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*link*/
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

a{
  text-decoration: none;
  color: black;
}

.blue{
  color:#0061ff
}

.border{
  border-bottom: 1px solid #d0d0d3;
}

.underline{
  text-decoration: underline;
}

/*header*/
header{
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  font-size: 13px;
  line-height: 57px;
  z-index: 20;
}

.left{
  width: 10%;
  margin: 9px;
}

.mid, .right{
  width: 42%;
  min-height: 60px;
  margin: 0 1%;
}

.right{
  text-align: right;
}

header li:hover{
  border-bottom: 2px solid black;
} 

/*jumbotron*/
.jumbo{
  width: 100%;
  height: 650px;
  background-color: #b4d0e7;
  padding-top: 8%;
  font-size: 14px;
  margin-bottom: 10%;
}

.jumbo h1{
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 1%;
}

.write{
  width: 25%;
  margin: 1%;
}

.image{
  width: 71%;
}

.jumbo .write p{
margin-bottom: 7%;
}

.jumbo .write div{
  margin-bottom: 4%;
}

.jumbo .write div:last-of-type{
  font-size: 11px;
}

.write i{
  font-size: 30px;
  margin-top: 7%;
}

.image img{
  width: 100%;
}

/*main*/
main .container{
  width: 55%;
}
 
.fatturazione{
  margin-bottom: 3%;
}

/*main option*/
.option h2{
  padding-bottom: 4%;
}

.option span{
  padding: 0 2% 2% 0;
}

.standard{
  margin: 0 5%
}

.professional, .standard, .advanced{
  width: calc(90%/3);
  height: 700px;
  border: 1px solid #d0d0d3;
  margin-bottom: 5%;
}

.utenti{
  line-height: 8vh;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
}

.offerta{
  padding: 8%;
}

h3, .offerta span{
  margin-bottom: 3%;
}

.offerta strong{
  font-size: 13px;
}

.offerta span:nth-of-type(2){
  color: #d0d0d3;
}

.offerta span{
  font-size: 11px;
  display: block;
  margin-bottom: 10%;
}

.offerta div{
  margin: 20% auto 10% auto;
  
}

.offerta span a{
  text-decoration: underline;
}

.border{
  padding-bottom: 10%;
}

.offerta-2{
  width: 100%;
}

.offerta-2{
  border: 1px solid #d0d0d3;
}

.descrizione{
  width: 75%;
  border-left: 1px solid #d0d0d3;
}

.contatto{
  width: 25%;
  border-right: 1px solid #d0d0d3;;
}

.descrizione, .contatto{
  padding: 1%;
  height: 120px;
  border-bottom: 1px solid #d0d0d3;;
}

.offerta-2 h3{
  padding-top: 3%;
}

.descrizione div{
  font-size: 14px;
  margin: 2% auto 4% 0;
}

.descrizione span{
  font-size: 11px;
}

.contatto div{
  padding-top: 10%;
}

/*main-partner*/
.partner-img{
  width: 55%;
}

.partner-txt{
  width: 45%;
  padding: 5% 0 0 5%;
}

.partner-img img{
  width: 100%;
}

.partner-txt, .partner-img{
  padding-top: 15%;
}

.partner-txt span{
  font-size: 13px;
}

.partner-txt div{
  padding-top: 6%;
}

/*main-operazioni*/
.operazioni{
  width: 100%;
  padding-top: 5%;
}

.row-mid{
  margin: 0 5%;
}

.row-left, .row-mid, .row-right{
  width: 30%;
  min-height: 400px;
  margin-top: 5%;
}

.row-left img, .row-mid img, .row-right img{
  width: 100%;
  margin-bottom: 3%;
}

.row-left span, .row-mid span, .row-right span{
  font-size: 13px;
}

/*correlazione*/
.box-1{
  width: 59%;
  padding: 10% 0 5% 0;
}

.box-1 h2{
  font-size: 33px;
}

.box-1 span a{
  text-decoration: underline;
  color: blue;
}

/*collaborazioni*/

.box-2{
  width: 100vw;
}

.mid-box{
  width: 40vw;
  min-height: 60vh;
  background-color: #f5f5f5;
}

.left-box, .right-box{
  position: relative;
  width: 30vw;
  min-height: 60vh;
}

.cubo-tl{
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: green;
}

.left-box img, .right-box img{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}

.cubo-tr{
  position: absolute;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #61082c;
}

.cubo-bl{
  position: absolute;
  bottom: 0px;
  width: 50%;
  height: 50%;
  background-color: #1d93ce;
}

.cubo-br{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 50%;
  background-color: #f91c1d;
}

.right-box .cubo-tl{
  background-color: #d5021f;
}

.right-box .cubo-tr{
  background-color: #b4d0e7;
}

.right-box .cubo-bl{
  background-color: #0d2481;
}

.right-box .cubo-br{
  background-color: #fed830;
}

.cubo-tl:hover, .cubo-tr:hover, .cubo-bl:hover, .cubo-br:hover{
  opacity: 0.5;
  border: 5px solid #f5f5f5;
}

.mid-box img{
  padding: 5%;
  width: 30%;
}

.mid-box div{
  position: relative;
  width: 7%;
  left: 5%;
  background-color: #d0d0d3;
}

.mid-box p, .mid-box span{
  padding: 5%;
  font-size: 15px;
}

/*prova gratuita*/
.prova-gratis{
  background-color: #b4d0e7;
  height: 40vh;
  margin-bottom: 5%;
}

.txt, .prova{
  width: 50%;
}

.txt h2{
  padding-top: 25%;
  color: #61082c;
  font-weight: bold;
}

.prova div{
  padding: 25% 0 0 25%;
}

.prova a{
  padding: 2% 10%;
  border: none;
}

/*domande frequenti*/
.domande h2{
  padding-bottom: 4%;
  border-bottom: 1px solid #d0d0d3;
}

.domande div{
  border-bottom: 1px solid #d0d0d3;
  padding: 4% 0;
  cursor: pointer;
}

.domande span{
  padding-right: 19%;
  font-weight: bold;
}

.domande div:last-of-type{
  margin-bottom: 10%;
}

.domande p{
  display: none;
  color: #d0d0d3;
  padding-top: 5%;
}

.domande i:hover + p{
  display: block;
}

/*footer*/
footer{
  background-color: black;
  min-height: 300px;
  color: white;
}

.foot{
  width: 80%;
  min-height: 200px;
  margin: auto;
}

.dropbox, .prodotti, .azienda, .supporto, .community{
  width: calc(100%/5);
  min-height: 100px;
  padding-top: 5%;
}

.foot nav ul li{
  display: block;
  font-size: 13px;
  padding-bottom: 2%;
}

.foot nav ul li:first-of-type{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4%;
}

.foot a{
  color: white;
}

.foot .dropbox nav li:last-of-type{
  font-size: 11px;
  color: #d0d0d3;
  border-top: 1px solid #d0d0d3;
  margin-top: 25%;
  padding-top: 10%;
} 





